.above-image {
  height      : 80px;
  padding     : (2 * @padding-large-vertical) 0;

  span {
    font-size     : 1.4em;
  }
}

.tagger-holder {
  text-align    : center;
  padding-bottom: 300px;
}

.image-holder {
  position    : relative;
  display     : inline-block;

  &.loading {
    img {
      opacity     : 0.5;
    }
  }

  .loading-message {
    position  : absolute;
    top       : 40px;
    width     : 100%;
    font-size : 3em;
    color     : white;
  }
}

.tag-area {
  background    : rgba(255,255,255,0.3);
  border        : 1px solid rgba(255,255,255,0.5);
  position      : absolute;
  color         : white;
  padding       : @padding-base-vertical @padding-base-horizontal;
  font-size     : 1.3em;
  text-shadow   : 0 0 2px black;
}
