@import "bootstrap/variables";
@import "bootstrap/mixins";

.sidebar {
  background  : white;
  position    : fixed;
  top         : 0;
  bottom      : 0;
  left        : 0;
  display     : block;
  overflow-x  : hidden;
  overflow-y  : auto;
  border-right    : 1px solid @gray-lighter;
  padding-top     : @padding-base-vertical;
  padding-bottom  : @padding-base-vertical;

  .nav-sidebar {
    margin  : 0 -(@grid-gutter-width/2) (2 * @padding-large-vertical) -(@grid-gutter-width/2);

    li {
      a {
        .transition(~"background-color 0.3s, color 0.3s");
      }
    }

    li.active {
      a {
        background-color    : lighten(@link-color, 40%);
        color               : @text-color;
        @border-width       : 4px;
        border-left         : @border-width solid @link-color;
        padding-left        : (15px - @border-width); // Subtract 4px from @nav-link-padding
      }
    }

    li.no-link {
      padding     : @nav-link-padding;
    }

    li.none-yet {
      color     : @gray-light;
    }

    li.divider {
      font-size   : 0.9em;
    }

    &.tagged-photos {
      border-top    : 1px solid @gray-lighter;
    }
  }
}
