@import "bootstrap/variables";

.sidebar {
  background  : white;
  position    : fixed;
  top         : 0;
  bottom      : 0;
  left        : 0;
  display     : block;
  overflow-x  : hidden;
  overflow-y  : auto;
  border-right    : 1px solid @gray-lighter;
  padding-top     : @padding-base-vertical;
  padding-bottom  : @padding-base-vertical;

  .nav-sidebar {
    margin  : 0 -(@grid-gutter-width/2) (2 * @padding-large-vertical) -(@grid-gutter-width/2);

    li.active {
      a {
        background-color    : @link-color;
        color               : white;
      }
    }

    li.divider {
      font-size   : 0.9em;
      padding     : @nav-link-padding;
    }

    &.tagged-photos {
      border-top    : 1px solid @gray-lighter;
    }
  }
}
